<!DOCTYPE html>
<html>
<head>
	<!-- <link rel='stylesheet' href="/stylesheets/addCar.css">  -->
	<link rel="stylesheet" href="/stylesheets/basic.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css"> -->
	<script src="javascripts/jquery.min.js"></script>
 <!-- 	<script src="/javascripts/jquery-3.1.1.min.js"></script> -->
  	<script src="/javascripts/bootstrap.min.js"></script>
  <!-- 	<script src="/javascripts/bootstrap-datepicker.min.js"></script>
  	<script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
  	<script src="/javascripts/bootstrap-datepicker.fr.min.js"></script>
  	<script src="/javascripts/bootstrap-datetimepicker.fr.js"></script>
  	<script src="/javascripts/bootstrap-datetimepicker.zh-CN.js"></script> -->
	<title><%= title %></title>
</head>
</head>
<body>
<% include header %>
<h1>这里是车辆新增页面</h1>

<form action="/addCar" method="post">
  <div class="form-group">
    <label for="addVin">Vin(不能为空)</label>
    <input type="text" class="form-control" id="addVin" name="addVin" placeholder="Vin" required="required">
  </div>
  <div class="form-group">
    <label for="addEngineNo">Engine_No</label>
    <input type="text" class="form-control" id="addEngineNo" name="addEngineNo" placeholder="Engine_No">
  </div>
  <div class="form-group">
    <label for="addModel">Model</label>
    <input type="text" class="form-control" id="addModel" name="addModel" placeholder="Model">
  </div>
  <div class="form-group">
    <label for="addColor">Color</label>
    <input type="text" class="form-control" id="addColor" name="addColor" placeholder="Color">
  </div>
  <div class="form-group">
    <label for="addAddress">address</label>
    <input type="text" class="form-control" id="addAddress" name="addAddress" placeholder="address">
  </div>
  <div class="form-group">
    <label for="addCarCard">Car_card</label>
    <input type="text" class="form-control" id="addCarCard" name="addCarCard" placeholder="Car_card">
  </div>
  <div class="form-group">
    <label for="addCityName">City_name</label>
    <input type="text" class="form-control" id="addCityName" name="addCityName" placeholder="City_name">
  </div>
  <div class="form-group">
    <label for="addModelYear">Model_year</label>
    <input type="text" class="form-control" id="addModelYear" name="addModelYear" placeholder="Model_year">
  </div>
  <div class="form-group">
    <label for="addPurchaseDate">Purchase_date</label>
    <input type="text" class="form-control" id="addPurchaseDate" name="addPurchaseDate" placeholder="Purchase_date">
  </div>


  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="inputFile">
    <p class="help-block">上传你的照片</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include footer %>

</body>
</html>
