<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href="/stylesheets/addCar.css"> 
	<link rel="stylesheet" href="/stylesheets/basic.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>

	<title><%= title %></title>
</head>
</head>
<body>
<% include header %>
<h1>这里是用户新增页面</h1>

<form>
  <div class="form-group">
    <label for="addUserName">Username</label>
    <input type="text" class="form-control" id="addUserName" name="addUserName" placeholder="Username" required="required">
  </div>
  <div class="form-group">
    <label for="addPassword">Password</label>
    <input type="password" class="form-control" id="addPassword" name="addPassword" placeholder="Password" required="required">
  </div>
<!--   <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="inputFile">
    <p class="help-block">上传你的照片</p>
  </div> -->
  <button type="type" class="btn btn-default" id="addUser">Submit</button>
</form>

<% include footer %>
<script>
$("#addUser").click(function() {
  $.ajax({
    url: "/addUser",
    data: {
        username: document.getElementById("addUserName").value,
        password: document.getElementById("addPassword").value
    },
    async: true,  
    cache: false,  
    type: "POST",
    dataType: "text",   
    success: function(result){ 
        if(result){
          alert("新增用户成功")
          location.href="/users";
        }else{
          alert("数据传输错误！");
        }
      }
    })
})
</script>

</body>
</html>