<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href="/stylesheets/addCar.css"> 
	<link rel="stylesheet" href="/stylesheets/basic.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>

	<title><%= title %></title>
</head>
</head>
<body>
<% include header %>
<h1>这里是用户新增页面</h1>

<form action="/addUser" method="post">
  <div class="form-group">
    <label for="addUserName">Username</label>
    <input type="text" class="form-control" id="addUserName" name="addUserName" placeholder="Username" required="required">
  </div>
  <div class="form-group">
    <label for="addPassword">Password</label>
    <input type="password" class="form-control" id="addPassword" name="addPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="inputFile">
    <p class="help-block">上传你的照片</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include footer %>

</body>
</html>