<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
 	<script src="/javascripts/jquery-3.1.1.min.js"></script>
  	<script src="/javascripts/bootstrap.min.js"></script>
</head>
</head>
<body>
<% include header %>

<form class="form-horizontal col-sm-offset-1" action="/updateUser" method="post">
  <div class="form-group">
    <label class="col-sm-4 control-label">用户序号:</label>
    <div class="col-sm-2">
      <p class="form-control-static" id="id"></p>
    </div>
  </div>
    

  <div class="form-group">
    <label class="col-sm-4 control-label">用户名：</label>
    <div class="col-sm-2">
      <p class="form-control-static" id="username"></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">密码：</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="password" name="password">
    </div>
  </div>

    <button class="btn btn-default col-sm-offset-5" type="button" id="confirm">确认修改</button>
</form>


<% include footer %>

<script>
$.getUrlParam = function (name) {
     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if (r != null) return unescape(r[2]); return null;
}                

var username = $.getUrlParam('username')

$.ajax({
  url: "/editUser",
  data: {
      username: username
  },
  async: true,  
  cache: false,  
  type: "POST",
  dataType: "text",   
  success: function(data){ 
    if(data){
      var [id,username,password] = [JSON.parse(data)[0].id,JSON.parse(data)[0].username,JSON.parse(data)[0].password]
      $("#id").html(id);
      $("#username").html(username);
      $("#password").val(password);    
    }else{
        alert("数据传输有错误！");
    }
  }
})          

$("#confirm").click(function() {

  $.ajax({
    url: "/updateUser",
    data: {
        username: username,
        password:$("#password").val()
    },
    async: true,  
    cache: false,  
    type: "POST",
    dataType: "text",   
    success: function(result){ 
        if(result){
          alert("修改成功")
          location.href="/users";   
        }else{
            alert("数据传输有错误！");
        }
      }
    });      
  });
</script>

</body>
</html>