<!DOCTYPE html>
<html>
<head>
	<link href="/stylesheets/footer.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
 	<script src="/javascripts/jquery-3.1.1.min.js"></script>
  	<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<footer id="footer">
		<div class="details">
			<div class="block left">
				<h2>合作伙伴</h2>
				<hr>
				<ul>
					<li><a href="#">xxxxxxxxxx</a></li>
					<li><a href>xxxxxxxxxx</a></li>
					<li><a href>xxxxxxxxxx</a></li>
					<li><a href>xxxxxxxxxx</a></li>
				</ul>
			</div>
			<div class="block center">
				<h2>网站FAQ</h2>
				<hr>
				<ul>
					<li><a href="#">xxxxxxxxxx</a></li>
					<li><a href>xxxxxxxxxx</a></li>
					<li><a href>xxxxxxxxxx</a></li>
					<li><a href>xxxxxxxxxx</a></li>
					<li><a href>xxxxxxxxxx</a></li>
				</ul>
			</div>
			<div class="block right">
				<h2>联系方式</h2>
				<hr>
				<ul>
					<li><a href>微博：xxxxxxxxxx</a></li>
					<li><a href>邮件：xxxxxxxxxx</a></li>
					<li><a href>地址：xxxxxxxxxx</a></li>
				</ul>
			</div>
		</div>
		<div class="bottom">
			Copyright SHI 就是一个简简单单的小demo|京ICP备1201001号|经营许可证：L-YC-BK12345
		</div>


	</footer>
</body>
</html>