<!DOCTYPE html>
<html>
<head>
	<mate charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
 	<script src="/javascripts/jquery-3.1.1.min.js"></script>
  	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="javascripts/home.js"></script>	
</head>
<body>
<%- include header %>
<h1>用户名：<%= user %></h1>
<h1>欢迎您登录</h1>

	<!-- <div id="toTop"></div>
	
	<div id="content">
		<div id="scroll" style="left:-1300px">
			<img src="/images/c6.jpg" alt="1">
			<img src="/images/c1.jpg" alt="1">
			<img src="/images/c2.jpg" alt="2">
			<img src="/images/c3.jpg" alt="3">
			<img src="/images/c4.jpg" alt="4">
			<img src="/images/c5.jpg" alt="5">
			<img src="/images/c6.jpg" alt="6">
			<img src="/images/c1.jpg" alt="6">
		</div>
		<div id="buttons">
			<span index="1" class="on">1</span>
			<span index="2">2</span>
			<span index="3">3</span>
			<span index="4">4</span>
			<span index="5">5</span>
			<span index="6">6</span>
		</div>
		<input type="button" id="prev" class="arrow" value="<">
		<input type="button" id="next" class="arrow" value=">">
	</div>
	<div id="place">
		<section class="center">
			<h2>热门旅游</h2>
			<p>国内旅游、国外旅游、自助旅游、自驾旅游、游轮签证、主题旅游等各种最热门旅游推荐
			</p>
		</section>
		<div class="feature">
			<img src="/images/l1.jpg">
			<div class="title"><strong><八达岭长城1日游></strong>八达岭长城是中国古代伟大的防御工程万里长城的重要组成部分，是明长城的一个隘口。八达岭长城，在明长城中保存最好，也最具代表性，因此是万里长城向游人开放最早的地段。作为万里长城的精华，正以古老而年轻的雄姿，迎接慕名而至、纷至沓来的天下游人。登过长城的人，莫不叹为观止。
			</div>
			<div class="rest">
				<em class="sat">满意度：99.99%</em>
				<span class="price">￥<strong>80</strong>起</span>
			</div>
			<div class="type">国内旅游</div>
		</div>
		<div class="feature">
			<img src="/images/l2.jpg">
			<div class="title"><strong><黄山2日游></strong>黄山位于安徽省南部黄山市境内，为三山五岳中三山之一，集中国各大名山的美景于一身，尤其以奇松、怪石、云海、温泉“四绝”著称，是大自然造化中的奇迹，历来享有“五岳归来不看山，黄山归来不看岳”的美誉。去黄山，看的是奇绝变幻的云海，追的是气势磅礴的日出。带上你的梦想，登上天都峰，也去做一个云游四方的“霞客”吧！
			</div>
			<div class="rest">
				<em class="sat">满意度：99.98%</em>
				<span class="price">￥<strong>150</strong>起</span>
			</div>
			<div class="type">国内旅游</div>
		</div>
		<div class="feature">
			<img src="/images/l3.jpg">
			<div class="title"><strong><桂林3日游></strong>桂林是世界著名的风景游览城市和历史文化名城。桂林市属典型的“喀斯特”岩溶地貌，遍布全市的石灰岩经亿万年的风化浸蚀，形成了千峰环立、一水抱城、洞奇石美的独特景观，被世人美誉为“桂林山水甲天下”。其中最具有代表性的景点有：象鼻山、伏波山、南溪山、尧山、独秀峰、七星岩、芦笛岩、甑皮岩、冠岩、杉湖等。
			</div>
			<div class="rest">
				<em class="sat">满意度：99.97%</em>
				<span class="price">￥<strong>180</strong>起</span>
			</div>
			<div class="type">国内旅游</div>
		</div>
		<div class="feature">
			<img src="/images/l4.jpg">
			<div class="title"><strong><伦敦塔桥3日游></strong>伦敦塔桥是从英国伦敦泰晤士河口算起的第一座桥，也是伦敦的象征，有“伦敦正门”之称。该桥始建于1886年，两岸两座用花岗石和钢铁建成的高塔，高约60米，分上下两层。上层支撑着两岸的塔，下层桥面可让行人通过，也可供车辆穿行。如果巨轮鸣笛而来，下层桥面能够自动往两边翘起，此时行人可改道从上层通过。桥内设有商店、酒吧，即使在雨雪天，行人也能在桥中购物、聊天或凭栏眺望两岸风光。
			</div>
			<div class="rest">
				<em class="sat">满意度：99.99%</em>
				<span class="price">￥<strong>1080</strong>起</span>
			</div>
			<div class="type">国外旅游</div>
		</div>
		<div class="feature">
			<img src="/images/l5.jpg">
			<div class="title"><strong><洛杉矶5日游></strong>洛杉矶(City of Los Angeles)是位于美国西岸加州南部的城市，按照人口排名，洛杉矶是加州的第一大城，也是美国的第二大城，仅次于纽约。洛杉矶是全世界的文化、科学、技术、国际贸易和高等教育中心之一，洛杉矶还拥有世界知名的各种专业与文化领域的机构。洛杉矶及其紧邻的区域，在大众娱乐—诸如电影、电视、音乐方面构成了洛杉矶的国际声誉和全球地位的基础，闻名世界的好莱坞就位于该市。
			</div>
			<div class="rest">
				<em class="sat">满意度：99.99%</em>
				<span class="price">￥<strong>1880</strong>起</span>
			</div>
			<div class="type">国外旅游</div>
		</div>
		<div class="feature">
			<img src="/images/l6.jpg">
			<div class="title"><strong><巴塞罗那10日游></strong>巴塞罗那位于西班牙东北部的地中海岸，是西班牙第二大城市、最大的工业中心。这里气候宜人、风光旖旎、古迹遍布，素有“伊比利亚半岛的明珠”之称，是西班牙最著名的旅游胜地。带有哥特风格的古老建筑与高楼大厦交相辉映，共同构成了巴塞罗那令人迷醉的天际线。格局凌乱的小巷子紧贴着新城区的边缘，古色古香的旧城区里会忽然冒出工业时代的烟囱，在巴塞罗那，这一切的不协调看来都顺理成章。 
			</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>10080</strong>起</span>
			</div>
			<div class="type">国外旅游</div>
		</div>
		<div class="feature">
			<img src="/images/l7.jpg">
			<div class="title"><strong><上海迪士尼2日游></strong>上海迪士尼乐园是中国大陆首座迪士尼主题乐园，位于上海市浦东新区川沙新镇。2016年6月16日开园时将包括六大主题园区：米奇大街、奇想花园、探险岛、宝藏湾、明日世界和梦幻世界。上海迪士尼乐园里有许多全球首发游乐项目、精彩的现场演出和多种奇妙体验，无论男女老少，无论年龄大小，都能在这里收获快乐。
			</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>5080</strong>起</span>
			</div>
			<div class="type">主题旅游</div>
		</div>
			<div class="feature">
			<img src="/images/l8.jpg">
			<div class="title"><strong><马尔代夫半月游></strong>看过《麦兜故事》的人很难不和麦兜一起爱上这个岛国：“椰林树影，水清沙幼。”马尔代夫的国家旅游局如此评价自己的祖国：“如果你一生中有很多次出国旅游的机会，那你一定要来马尔代夫；如果你一生中只有一次出国旅游的机会，那你更要来马尔代夫。” 你是否也要安排一次美丽的邂逅，把浪漫与快乐永远铭刻在内心深处的某个角落？
			</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>100880</strong>起</span>
			</div>
			<div class="type">国外旅游</div>
		</div>
		<div class="feature">
			<img src="/images/l9.jpg">
			<div class="title"><strong><拉萨3日游></strong>拉萨，藏语里的意思是神居住的地方。海拔3700米，被称为“日光城”。他是藏族人心中的圣城，如今也成为四方游客的“圣城”。现在已经越来越接近我们所熟悉的大城市了，酒店、银行、商场、专卖店，繁华到无需考虑这里是雪域高原的事实。无论如何，去接受他吧。总有那么一处，能直逼你内心深处，成为你心灵的归宿。
			</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>--</strong>起</span>
			</div>
			<div class="type">自助旅游</div>
		</div>
		
	</div> -->
	
<%- include footer %>>
</body>
</html>
	