<!DOCTYPE html>
<html>
<head>
	<mate charset="UTF-8">
	<title><%= title %></title>
	<script src="javascripts/home.js"></script>	
</head>
<body>
<%- include header %>

<div id="home">
	<div id="toTop"></div>
	
	<div id="content">
		<div id="scroll" style="left:-1300px">
			<img src="/images/c6.jpg" alt="1">
			<img src="/images/c1.jpg" alt="1">
			<img src="/images/c2.jpg" alt="2">
			<img src="/images/c3.jpg" alt="3">
			<img src="/images/c4.jpg" alt="4">
			<img src="/images/c5.jpg" alt="5">
			<img src="/images/c6.jpg" alt="6">
			<img src="/images/c1.jpg" alt="6">
		</div>
		<div id="buttons">
			<span index="1" class="on">1</span>
			<span index="2">2</span>
			<span index="3">3</span>
			<span index="4">4</span>
			<span index="5">5</span>
			<span index="6">6</span>
		</div>
		<input type="button" id="prev" class="arrow" value="<">
		<input type="button" id="next" class="arrow" value=">">
	</div>

	<div id="place">
		<section class="center">
			<h2>热门车型</h2>
			<p>BYD速锐，S系列，F系列，王朝系列等各种最热门车型推荐
			</p>
		</section>
		<div class="feature">
			<img src="/images/l1.jpg">
			<div class="title"><strong><比亚迪-唐></strong>全时四驱旗舰型
			</div>
			<div class="rest">
				<em class="sat">满意度：99.99%</em>
				<span class="price">￥<strong>27.98</strong>（万元）起</span>
			</div>
			<div class="type">王朝系列</div>
		</div>
		<div class="feature">
			<img src="/images/l2.jpg">
			<div class="title"><strong><比亚迪-宋></strong>2.0TID 4G旗舰型
			</div>
			<div class="rest">
				<em class="sat">满意度：99.98%</em>
				<span class="price">￥<strong>14.99</strong>（万元）起</span>
			</div>
			<div class="type">王朝系列</div>
		</div>
		<div class="feature">
			<img src="/images/l3.jpg">
			<div class="title"><strong><比亚迪-元></strong>1.5L豪雅型(6速手自一体)
			</div>
			<div class="rest">
				<em class="sat">满意度：99.97%</em>
				<span class="price">￥<strong>9.39</strong>（万元）起</span>
			</div>
			<div class="type">王朝系列</div>
		</div>
		<div class="feature">
			<img src="/images/l4.jpg">
			<div class="title"><strong><比亚迪-秦></strong>旗舰Plus</div>
			<div class="rest">
				<em class="sat">满意度：99.99%</em>
				<span class="price">￥<strong>21.98</strong>（万元）起</span>
			</div>
			<div class="type">王朝系列</div>
		</div>
		<div class="feature">
			<img src="/images/l5.jpg">
			<div class="title"><strong><比亚迪-F3></strong>1.5L 尊贵型(6速手自一体)</div>
			<div class="rest">
				<em class="sat">满意度：99.99%</em>
				<span class="price">￥<strong>7.79</strong>（万元）起</span>
			</div>
			<div class="type">F系列</div>
		</div>
		<div class="feature">
			<img src="/images/l6.jpg">
			<div class="title"><strong><比亚迪-F0></strong>悦酷型AMT</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>4.79</strong>（万元）起</span>
			</div>
			<div class="type">F系列</div>
		</div>
		<div class="feature">
			<img src="/images/l7.jpg">
			<div class="title"><strong><比亚迪-S7></strong>2.0TID 7座旗舰型</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>15.99</strong>（万元）起</span>
			</div>
			<div class="type">S系列</div>
		</div>
			<div class="feature">
			<img src="/images/l8.jpg">
			<div class="title"><strong><比亚迪-S6></strong>2.4L旗舰型（6速手自一体）</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>13.29</strong>（万元）起</span>
			</div>
			<div class="type">S系列</div>
		</div>
		<div class="feature">
			<img src="/images/l9.jpg">
			<div class="title"><strong><比亚迪-新速锐></strong>1.5L旗舰型（6速手自一体）</div>
			<div class="rest">
				<em class="sat">满意度：100%</em>
				<span class="price">￥<strong>9.59</strong>（万元）起</span>
			</div>
			<div class="type">速锐系列</div>
		</div>
		
	</div>
</div>
	
<%- include footer %>>
</body>
</html>
	