<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
  <script src="/javascripts/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/proto/login.js"></script>
  <!-- <script src="bundle.min.js"></script> -->
  <link rel="stylesheet" href="/stylesheets/login.css">
  
</head>
<body class="login-a">

<div class="container">
  <section class="content">
    <form>
      <h1>Login</h1>
      <div>
        <input type="text" placeholder="Username" id="logUsername" class="username"/>
      </div>
      <div>
        <input type="password" placeholder="Password" id="logPassword" class="password"/>
      </div>
      <div>
        <input type="button" value="登  录" id="login">
        <a href="#">忘记密码?</a>
        <a href="/register">注册</a>
      </div>
    </form>
    <div class="button">
      <a href="#">Download source file</a>
    </div>
  </section>
</div>




</body>
</html>



