<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/basic.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/viewUser.css">
	<script src="javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
	<title><%= title %></title>
</head>
</head>
<body>
<% include header %>


 <button class="btn btn-default col-sm-offset-5"><a href="/users">返回</a></button>




<% include footer %>
<script>
$.getUrlParam = function (name) {
     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if (r != null) return unescape(r[2]); return null;
}                
//获取pageID
var pageID = $.getUrlParam('id');
alert(pageID);

</script>

</body>
</html>
