<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/basic.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/viewUser.css">
	<script src="javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
	<title><%= title %></title>
</head>
</head>
<body>
<% include header %>


<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-5 control-label">用户序号:</label>
    <div class="col-sm-7">
      <p class="form-control-static" id="id"></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">用户名：</label>
    <div class="col-sm-7">
      <p class="form-control-static" id="username"></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">密码：</label>
    <div class="col-sm-7">
      <p class="form-control-static" id="password"></p>
    </div>
  </div>

</form>

<button class="btn btn-default col-sm-offset-5"><a href="/users">返回</a></button>
<% include footer %>

<script>
$.getUrlParam = function (name) {
  var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
  var r = window.location.search.substr(1).match(reg);
  if (r != null){
    return decodeURI(r[2]);
  }
  return null;
}      

var username = $.getUrlParam('username')

$.ajax({
  url: "/viewUser",
  data: {
      username: username
  },
  async: true,  
  cache: false,  
  type: "POST",
  dataType: "text",   
  success: function(data){ 
    if(data){
      var {id,username,password} = JSON.parse(data)[0]
      $("#id").html(id);
      $("#username").html(username);
      $("#password").html(password);     
    }else{
        alert("数据传输有错误！");
    }
  }
})          
</script>

</body>
</html>
