<!DOCTYPE html>
<html>
<head>
</head>
  <title><%= title %></title>
</head>
<body>
<% include ../header %>

<form class="form-horizontal col-sm-offset-1" action="/updateUser" method="post">
  <div class="form-group">
    <label class="col-sm-4 control-label">用户序号:</label>
    <div class="col-sm-2">
      <p class="form-control-static" id="id"></p>
    </div>
  </div>
    

  <div class="form-group">
    <label class="col-sm-4 control-label">用户名：</label>
    <div class="col-sm-2">
      <p class="form-control-static" id="username"></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">密码：</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="password" name="password">
    </div>
  </div>

    <button class="btn btn-default col-sm-offset-5" type="button" id="confirmUser">确认修改</button>
</form>


<% include ../footer %>

<script src="bundle.min.js"></script>

</body>
</html>