<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= title %></title>
</head>
</head>
<body>
<% include ../header %>


<div class="panel panel-default">
  <div class="panel-heading">用户搜索</div>
  <div class="panel-body">
  <div class="input-group col-sm-4 col-sm-offset-4">
    <span id="sizing-addon2">用户名：</span>
    <input type="text" class="form-control" style="width:60%;border-radius:5px;" id="selectUser" placeholder="Username" aria-describedby="sizing-addon2">
  </div>
  <button type="button" id="selUserBtn" class="btn col-sm-1 btn-primary" style="float:right;margin-right:80px;">用户查询</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">用户信息
    <div id="UserAction">
      <div class="btn-right">
          <button type="button" class="btn btn-danger" id="delUserClick">删除用户</button>
      </div>

      <div class="btn-right">
          <button type="button" class="btn btn-warning" id="editUserClick">修改信息</button>
      </div>

      <div class="btn-right">
          <button type="button" class="btn btn-info" id="viewUserClick">查看详情</button>
      </div>

      <div class="btn-right">
          <button type="button" class="btn btn-success"><a href="/addUser">新增用户</a></button>
      </div> 
    </div> 
  </div>

  <div class="panel-body">
    <table id="userInfo" class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" onclick="swapCheck()"></th>
            <th>序号</th>
            <th>用户名</th>
            <th>密码</th>
        </tr>
      </thead>
      <tbody id="userData">

      </tbody>
    </table>
  </div>
</div>

<ul class="paging">
  <a id="btn00"></a>
  <input id="pageSize0" type="text" size="1" maxlength="4" value="getDefaultValue()"/><a> 条 </a> <a href="#" id="pageSizeSet0">设置</a> 
  <a id="count0"></a> 
  <a href="#" id="btn01">首页</a>
  <a href="#" id="btn02">上一页</a>
  <a href="#" id="btn03">下一页</a>
  <a href="#" id="btn04">尾页</a> 
  <a>转到 </a>
  <input id="changePage0" type="text" size="1" maxlength="4"/>
  <a>页 </a>
  <a href="#" id="btn05">跳转</a>
</ul>


<% include ../footer %>

<script src="bundle.min.js"></script>

</body>
</html>