#home{
	margin-left: 20px;
}

#toTop{
	border: 1px solid #999;
	width:30px;
	height:40px;
	padding:0px 30px 30px 10px;
	position: absolute;
	cursor:pointer;
	color: #fff;
	z-index: 3;
	background: url(/images/top.jpg) no-repeat;
	background-size: cover;
}

#content{
	position: relative;
	width:1300px;
	height:300px;
	overflow: hidden;
}

#content img{
	width:1300px;
	height:300px;
	float:left;

}

#scroll{
	position: absolute;
	z-index:1;
	width:10400px;
	height:300px;
	
}

#buttons{
	position: absolute;
	left:42%;
	bottom:20px;
	z-index: 2;
	height:30px;
	width:300px;
}

#buttons span{
	text-align: center;
	float:left;
	margin-right: 10px;
	width:20px;
	height:20px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: #ccc;
	cursor:pointer;
}

#buttons .on{
	background: #5BF4EA;
}

.arrow{
	position: absolute;
	top:120px;
	z-index: 2;
	display: none;
	width:50px;
	height:50px;
	font-size: 50px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	color:#fff;
	background-color:rgba(0,0,0,0.3);
	cursor:pointer;
}

.arrow:hover{
	background-color: rgba(0,0,0,0.7);
}

#content:hover .arrow{
	display: block;
}

#prev{
	left: 40px;
}

#next{
	right:40px;
}

#place{
	width:1300px;
	height:1200px;
	margin: 30px auto;
	text-align: center;
}

#place .center h2{
	margin: 10px 0;
	font-size:45px;
	letter-spacing: 2px;
	color:#666;
}

#place .center p{
	color:#666;
	margin: 10px 0;
}

.feature{
	border: 1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	width:380px;
	height:300px;
	text-align: left;
	position: relative;
}

.feature img{
	width:380px;
	height:200px;
	vertical-align: middle;
}

.rest{
	color:#777;
	line-height: 1.5;
	font-size: 14px;
	padding: 7px 0 5px 0;
}

.title{
	margin-top:4px;
	color:#333;
	font-weight: normal;
}

.rest .sat{
	float:right;
	font-size: 13px;
	color:#0B26F8;
	font-style: normal;
	position: relative;
	top:5px;
	right:5px;
}

.rest .price{
	color:#f60;
	font-size: 14px;
}

.rest .price strong{
	font-size: 20px;
	letter-spacing: 1px;
}

.type{
	width:90px;
	height:25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	color:#fff;
	background-color: #59b200;
	position: absolute;
	top:4px;
	left:4px;
}

